{% load static%}
<footer id="main-footer" class="py-4 bg-primary text-white text-center">
    <div>Cristo Mathew Portfolio  | 
        <a href="https://github.com/cristomathew" style="text-decoration: none; color:white;"><ion-icon name="logo-github" class="home__social-icon"></ion-icon></a>
        <a href="https://www.facebook.com/cristomathew007" style="text-decoration: none; color:white;"><ion-icon name="logo-facebook" class="home__social-icon"></ion-icon></a>
        <a href="https://www.instagram.com/cris00707/" style="text-decoration: none; color:white;"><ion-icon name="logo-instagram" class="home__social-icon"></ion-icon></a>
        <a href="https://twitter.com/mathew_cristo" style="text-decoration: none; color:white;"><ion-icon name="logo-twitter" class="home__social-icon"></ion-icon></a>
    </div>
</footer>
<script  type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>

